body {
	margin: 0;
	background-color: #0F172A;
	color: white;
	font-family: monospace;
	font-family: "Chivo", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #fff;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-cont000 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px dashed red;
}

.menu {
	position: fixed;
	top: calc(50%-200px);
	left: calc(50%-140px);
	border: 1px solid #fff;
	border-radius: 5px;
	height: 400px;
	width: 280px;
	text-align: right;
	background: transparent;
	backdrop-filter: blur(5px);
	background-color: #1E293BCF;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(256, 256, 256, 0.35) 0px -2px 6px 0px inset;
	
}

.menu-icon {
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

.menu-icon button {
	margin-top: 13px;
	border: none;
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	height: 50px;
	width: 150px;
}

.menu-icon button i {
	font-size: 33px;
}

.fa-xmark {
	font-size: 24px;
	margin-right: 15px;
	margin-top: 10px;

}

.settings {
	position: absolute;
	font-size: 26px;
	opacity: 0.9;
	color: #fff;
	background: none;
	border: none;
	margin-left: 17px;
	right: 0;
	top: 0;
	margin-right: 13px;
	margin-top: 15px;

}

.logo-text {
	font-weight: 600;
	font-size: 30px;
	margin-top: 58px;
	margin-left: 27px;
}

.project-text {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 18px;
	width: 85%;
	font-size: 20px;
	font-weight: 500;
}

.container {
	width: 100%;
	margin-top: 50px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 85%;
	background-color: #1E293B;
	border-radius: 6px;
	margin: auto;
	margin-top: 25px;
}

/*

.arrow {
	margin: auto;
	margin-left: 120px;
	height: 57px;
	width: 57px;
	position: relative;
}

*/

.card-text {
	font-weight: 400;
	font-size: 19px;
	/*
	position: relative;
	left: 30px;
	top: 26px;
	*/
	text-wrap: nowrap;
}

.beta {
	font-weight: 300;
}